.vs/CMakeWorkspaceSettings.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/orderfood.slnx/FileContentIndex/29823372-fcc1-4630-8cc0-7670b7ced829.vsidx
.vs/orderfood.slnx/v18/.wsuo
.vs/orderfood.slnx/v18/Browse.VC.db
.vs/orderfood.slnx/v18/DocumentLayout.json
